name: pkgdown

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libxml2-dev libssl-dev

      - name: Install R dependencies
        working-directory: bushfirerisk
        run: |
          R -q -e 'install.packages(c("pak"), repos="https://cloud.r-project.org")'
          R -q -e 'pak::pak(c("pkgdown", "sessioninfo"))'
          R -q -e 'pak::local_install(dependencies = TRUE)'

      - name: Build site
        working-directory: bushfirerisk
        run: R -q -e 'pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: bushfirerisk/docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
